@media only screen and (min-width: 1000px) {
    .Post {
        width: 820px;
        height: fit-content;
        margin: auto;
        margin-top: 20px;
        border: 1px solid grey;
        border-radius: 6px;
        background-color: rgba(65, 62, 62, 0.432);
    }
}

@media only screen and (max-width: 1000px) {
    .Post {
        width: 82%;
        height: fit-content;
        margin: auto;
        margin-top: 20px;
        border: 1px solid grey;
        border-radius: 6px;
        background-color: rgba(65, 62, 62, 0.432);
    }
}

#post-footer{
    display: flex;
    flex-direction: row;
    background-color: #151516;
    border-radius: 6px;
    width: 100%;
}

#vote-btns{
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-top: 13px;
    margin-left: 20px;
}
#vote-btns button{
    margin-right: 10px;
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 30px;
    background: none;
    color: grey;
    text-decoration: none;
    font-size: 16px;
}

#vote-btns #upVote:hover{
    color: red;
    background-color: grey;
}

#vote-btns #downVote:hover{
    color: blue;
    background-color: grey;
}

#post-content{
    margin-bottom: 20px;
    margin-left: 20px;
    overflow: hidden;
}

#post-title{
    margin-left: 20px;
}

#posted-ago{
    margin-left: auto;
    margin-right: 20px;
}

li {
    list-style: none;
}